body {
	margin: 0;

	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: white;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}

#backHome {
	background-color: #BF263C;
	visibility: hidden;
}
#backHome h2 {
	margin: 0;
}

h1,h2 {
	text-align: center;
	margin: 0.5em 0;
}
