#vlog, #email, #github {
	visibility: hidden;
}

#header {
	background-color: #BF263C;
}
#vlog {
	background-color: #ED5565;
}
#email {
	background-color: #FC6E51;
}
#github {
	background-color: #FFCE54;
}
