@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  background-color: black;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

#myname {
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 2.05em;
}

#me {
  width: 15em;
  border: 0.5em solid white;
  display: block;
  margin: 0 auto;
}

#footer {
  bottom: 0px;
  position: fixed;
  height: 5em;
  background-color: rgba(0,0,0,0.5);
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
}

#footer p {
  font-size: 1.5em;
}

.pic, .vid {
  height: 70vh;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .pic, .vid {
    height: auto;
    width: 90vw;
  }
}

#box {
  margin: 0 auto;
  padding: 1em 0;
  width: 18em;
  background: linear-gradient(#ffcef0,#c368b4)
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgba(255,255,255,0.75);
}

.flowers1 {
  border: 0.5em solid #738E48;
  -moz-border-image: -moz-linear-gradient(top left, #738E48 0%, #1A2901 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #738E48 0%, #1A2901 100%);
  border-image: linear-gradient(to bottom right, #738E48 0%, #1A2901 100%);
  border-image-slice: 1;
}

.cabot1 {
  border: 0.5em solid #F2AC7D;
  -moz-border-image: -moz-linear-gradient(top left, #F2AC7D 0%, #2D251E 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #F2AC7D 0%, #2D251E 100%);
  border-image: linear-gradient(to bottom right, #F2AC7D 0%, #2D251E 100%);
  border-image-slice: 1;
}

.apples1 {
  border: 0.5em solid #DCDDE1;
  -moz-border-image: -moz-linear-gradient(top left, #DCDDE1 0%,#724544 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #DCDDE1 0%,#724544 100%);
  border-image: linear-gradient(to bottom right, #DCDDE1 0%,#724544 100%);
  border-image-slice: 1;
}

.dt1 {
  border: 0.5em solid #F1EFF3;
  -moz-border-image: -moz-linear-gradient(top left, #F1EFF3 0%, #2D2E2A 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #F1EFF3 0%, #2D2E2A 100%);
  border-image: linear-gradient(to bottom right, #F1EFF3 0%, #2D2E2A 100%);
  border-image-slice: 1;
}
