html, body {
  height: 100%;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 2em;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
  color: black
}

a:hover {
  color: #56c7e9;
  transition: color 0.5s ease;
}

#page-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#centerpiece {
  width: auto;
}

h1 {
  margin-top: 0;
  font-size: 3.5em;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
