<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>jackharrhy</title>
		<meta name="author" content="Jack Arthur Harrhy">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="favicon.png">
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body>
		<div id="header-container">
			<header>
				<p>hi, i'm jack</p>
				<p><a href="mailto:me@jackharrhy.com">email</a></p>
				<p><a href="https://github.com/jackharrhy/">github</a></p>
				<p><a href="https://gitlab.com/jackharrhy/">gitlab</a></p>
				<p><a href="https://www.youtube.com/channel/UCQc0h7PzKi2KJiYvb5pM4FA">youtube</a></p>
				<p><a href="https://instagram.com/jackarthurharrhy/">instagram</a></p>
				<p><a href="https://vsco.co/jackharrhy/">vsco</a></p>
			</header>
		</div>

		<div id="table-container">
			<p>uptime: <%= uptime %></p>
		</div>

		<div id="table-container">
			<table>
				<caption>currently running docker containers on this vps:</caption>
				<thead>
					<tr>
						<td>name</td>
						<td>state</td>
						<td>created</td>
						<td>status</td>
					</tr>
				</thead>
				<%- containers.each do |container| -%>
				<tr>
					<td data-label="name"><a href="<%= dockerhub_link_from_image container.image %>"><%= container.image %></a></td>
					<td data-label="state"><%= container.state %></td>
					<td data-label="created"><%= container.created %></td>
					<td data-label="status"><%= container.status %></td>
				</tr>
				<%- end -%>
			</table>
		</div>

		<div id="table-container">
			<table>
				<caption>currently active traefik https routes on this vps:</caption>
				<thead>
					<tr>
						<td>name</td>
						<td>status</td>
						<td>rule</td>
					</tr>
				</thead>
				<%- traefik_body.each do |route| -%>
				<tr>
					<td data-label="name"><%= route["name"] %></td>
					<td data-label="status"><%= route["status"] %></td>
					<td data-label="rule"><%= traefik_links_from_rule route["rule"].as_s %></td>
				</tr>
				<%- end -%>
			</table>
		</div>
	</body>
</html>
