---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="now">
	<h1 class="font-semibold">now</h1>
	<p class="text-sm">what i'm currently focused on</p>
	<p class="text-sm italic opacity-50">(last updated april 23rd, 2022)</p>
	<div class="flex flex-col gap-4 p-4">
		<p>my 9-5 is building geospatial stuff with <a href="https://www.c-core.ca/">c-core</a></p>
		<p>getting <a href="https://stickertrade.ca/">stickertrade.ca</a> into a state i can get others to test it would be nice</p>
		<p>also working on <a href="https://github.com/fogo-sh/bogos">bogos</a> currently</p>
		<p>currently instructing 3 <a href="https://get-coding.ca">get coding</a> students</p>
		<p>i want to get back to working on <a href="https://grackdb.fogo.sh/">grackdb</a> & <a href="https://github.com/stackcoin/stackcoin">stackcoin</a></p>
	</div>
</MainLayout>
