---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="now">
	<h1 class="font-semibold">now</h1>
	<p class="text-sm">what i'm currently focused on</p>
	<p class="text-sm italic opacity-50">(last updated august 9th, 2022)</p>
	<div class="flex flex-col gap-4 p-4">
		<p>my 9-5 is building geospatial stuff with <a href="https://www.c-core.ca/">C-CORE</a></p>
		<p><a href="https://stickertrade.ca">stickertrade</a> has finally been soft launched, doing small features here
			and there to keep it fresh</p>
		<p>working on the mvp of <a href="https://github.com/fogo-sh/bogos">bogos</a></p>
		<p>i intend to get back to working <a href="https://grackdb.fogo.sh/">grackdb</a>, and <a
				href="https://github.com/stackcoin/stackcoin">stackcoin</a> <i>eventually</i></p>
	</div>
</MainLayout>
