---
import MainLayout from "../layouts/MainLayout.astro";
import Now from "../components/Now";
---

<MainLayout title="now">
	<h1 class="font-semibold">now</h1>
	<p class="text-sm">what i'm currently focused on</p>
	<Now client:load />
</MainLayout>

<style is:global>
	.now ul li {
		margin: 0.75rem 0;
	}
</style>
