---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="posts">
    <h1 class="font-semibold">posts</h1>
    <h2 class="text-md mt-4 mb-1">ramblings of mine</h2>
    <p class="opacity-50">coming soon...</p>
</MainLayout>
