---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title="posts">
  <article class="prose lg:prose-lg prose-h1:text-3xl">
    <h1 class="font-semibold">{entry.data.title}</h1>
    <Content />
  </article>
</MainLayout>
