@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600';
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  font-weight: 300;
  background-color: #001024;
}
.page-wrap {
  margin: 0 auto;
  width: 100%;
}
#links {
  margin: 0 auto;
  width: 60%;
}
#eyeCatcher {
  width: 100%;
  height: 256px;
}
#project {
  margin-bottom: 1em;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.02);
}
.fa {
  width: 1.2em;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  color: #b1c7d6;
  font-size: 4em;
  font-weight: 600;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
h2 {
  color: #4da1bd;
  font-weight: 600;
}
a {
  color: #eeedf0;
  text-decoration: none;
}
#footer {
  color: #4da1bd;
  text-align: center;
  font-size: 0.5em;
}
