---
const { title, link, description } = Astro.props
---
<a href={link} target="_blank">
	<div class="w-[10.5em]">
		<img
			src={`/images/projects/${title}.webp`.toLowerCase()}
			class="w-[10.5em] h-[7.75em] object-cover border"
		/>
		<h3 class="mt-2 text-[0.85em]">
			<span class="font-semibold">{title}</span>
			{description}
		</h3>
	</div>
</a>
