---
import { ClientRouter } from "astro:transitions";

import Mug from "../components/Mug.astro";

interface Props {
  title?: string;
  description?: string;
  noFooter?: boolean;
  ogImage?: string;
  width?: string;
  mainClass?: string;
  invert?: boolean;
  mobileFriendly?: boolean;
}

const {
  title,
  description,
  noFooter = false,
  ogImage,
  width,
  mainClass,
  invert = false,
  mobileFriendly = true,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-paper font-serif h-full">
  <head>
    <meta charset="UTF-8" />
    {mobileFriendly && <meta name="viewport" content="width=device-width" />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style>
      @font-face {
        font-family: "Virgil";
        src: url("https://excalidraw.com/Virgil.woff2");
      }
      @font-face {
        font-family: "Cascadia";
        src: url("https://excalidraw.com/Cascadia.woff2");
      }
    </style>
    <script>
      import * as htmx from "htmx.org";
      document.addEventListener("astro:page-load", () => {
        console.log("astro:page-load");
        htmx.default.process(document.body);
      });
      // @ts-ignore
      window.htmx = htmx;
    </script>
    <script
      data-goatcounter="https://jackharrhy.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://jackharrhy.dev/linkblog/rss.xml"
      title="Linkblog - jackharrhy.dev"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://jackharrhy.dev/posts/rss.xml"
      title="Posts - jackharrhy.dev"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://jackharrhy.dev/devblog/rss.xml"
      title="Devblog - jackharrhy.dev"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://piclog.blue/user-feed.php?id=43"
      title="Crusty JPEG posts on piclog.blue"
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="https://status.cafe/users/jack.atom"
      title="Updates on status.cafe"
    />
    <title>
      {title ? `${title.replaceAll("/", " / ")} · Jack Harrhy` : "Jack Harrhy"}
    </title>
    <meta
      property="og:title"
      content={title
        ? `${title.replaceAll("/", " / ")} · Jack Harrhy`
        : "Jack Harrhy"}
    />
    {description && <meta property="og:description" content={description} />}
    {ogImage && <meta property="og:image" content={ogImage} />}
    <ClientRouter fallback="none" />
  </head>
  <body class="flex flex-col items-center h-full justify-between">
    <div
      class:list={[
        "flex flex-col prose max-w-none prose-orange prose-md md:prose-lg lg:prose-xl prose-li:my-0 prose-p:mt-0 prose-p:mb-4 w-full min-h-full",
        !width && "!max-w-[65ch]",
        width && width,
        invert && "prose-invert",
      ]}
    >
      <header
        class:list={[
          "relative w-full not-prose px-8 py-10 pt-12 flex justify-between leading-none",
          width && "max-w-[65ch] mx-auto",
          invert && "text-[#374151]",
        ]}
      >
        {
          title && (
            <div class="absolute hidden sm:block left-36 lg:-left-20 top-8">
              <Mug />
            </div>
          )
        }

        <a href="/" class="hover:underline">Jack Harrhy</a>
        <div class="flex gap-4">
          <a href="/about" class="hover:underline">About</a>
          <a href="/projects" class="hover:underline">Projects</a>
          <a href="/now" class="hover:underline">Now</a>
        </div>
      </header>
      <main class:list={["pb-6 px-8 mx-auto w-full flex-1", mainClass]}>
        <slot />
      </main>
      {
        !noFooter && (
          <footer class="flex items-center gap-4 justify-center text-sm text-base-500 w-full pb-8">
            <span>Made with 🫖</span>
          </footer>
        )
      }
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const links = document.querySelectorAll("a");
    links.forEach((link) => {
      if (link.getAttribute("href") === "/quake") {
        link.setAttribute("data-astro-reload", "");
      }
    });
  });
</script>
