@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "JetBrains Mono", monospace;
}

a {
	@apply text-link;
}
a:hover {
	@apply underline;
}

.container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 36em 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "left main right";
}
main {
	grid-area: main;
}
.left {
	grid-area: left;
}
.right {
	grid-area: right;
}
