@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "JetBrains Mono", monospace;
}

a {
	@apply text-link;
}
a:hover {
	@apply underline;
}

.contain {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 10em 40em 10em 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
}

.backdrop {
	grid-area: 1 / 1 / 2 / 6;
}
.sidebar {
	grid-area: 1 / 2 / 2 / 3;
}
main {
	grid-area: 1 / 3 / 2 / 4;
}

@media (max-width: 1024px) {
	.contain {
		@apply flex flex-col;
	}
}
