---
import { getEntry, render } from "astro:content";

import Mug from "./Mug.astro";
import Project from "./Project.astro";
import Feed from "./Feed.astro";
import FeedTree from "./FeedTree.astro";

const { id, header = true } = Astro.props;

if (!id) {
  throw new Error("Page ID is required");
}

const entry = await getEntry("garden", id)!;

if (!entry) {
  throw new Error(`Page not found: ${id}`);
}

const { Content } = await render(entry);

import Layout from "../layouts/Layout.astro";
---

<Layout
  title={entry.data.name === "Home" ? undefined : entry.data.name}
  noFooter={!header}
  ogImage={entry.data.ogImage}
>
  {header && <h1>{entry.data.name}</h1>}
  {
    entry.data.description && (
      <p class="not-prose text-2xl font-medium mb-10">
        {entry.data.description}
      </p>
    )
  }
  <Content components={{ Mug, Project, Feed, FeedTree }} />
</Layout>

<style is:global>
  indent {
    margin-left: calc(attr(level) * 1rem);
  }
</style>
