---
import { getEntry, render } from "astro:content";

const { id } = Astro.props;

if (!id) {
  throw new Error("Page ID is required");
}

const entry = await getEntry("garden", id)!;

if (!entry) {
  throw new Error(`Page not found: ${id}`);
}

const { Content } = await render(entry);

import Layout from "../layouts/Layout.astro";
---

<Layout title={id === "garden" ? undefined : entry.data.name}>
  <main class="pb-8 px-8 mx-auto">
    {id !== "garden" && <h2>{entry.data.name}</h2>}
    <Content />
  </main>
</Layout>

<style is:global>
  indent {
    margin-left: calc(attr(level) * 1rem);
  }

  a.internal.new {
    @apply text-red-400 line-through italic;
  }
</style>
