---
import { getEntry, render } from "astro:content";

import Mug from "./Mug.astro";
import Project from "./Project.astro";

const { id, header = true } = Astro.props;

if (!id) {
  throw new Error("Page ID is required");
}

const entry = await getEntry("garden", id)!;

if (!entry) {
  throw new Error(`Page not found: ${id}`);
}

const { Content } = await render(entry);

import Layout from "../layouts/Layout.astro";
---

<Layout
  title={entry.data.name === "Home" ? undefined : entry.data.name}
  noFooter={!header}
>
  {header && <h1>{entry.data.name}</h1>}
  <Content components={{ Mug, Project }} />
</Layout>

<style is:global>
  indent {
    margin-left: calc(attr(level) * 1rem);
  }

  a.internal.new {
    @apply text-red-400 line-through italic;
  }
</style>
