---
import "../style.css";

const { title } = Astro.props;
const url = new URL(Astro.request.url);
---

<!DOCTYPE html>
<html lang="en" class="bg-background">
  <head>
    <meta charset="UTF-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="posts on jackharrhy.dev"
      href="/posts/rss.xml"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{title} - jackharrhy</title>
  </head>
  <body class="text-[20px] flex">
    <div class="flex mx-auto">
      <div class="flex justify-start lg:justify-end py-4 lg:pt-8">
        <nav class="flex flex-col mt-4 lg:my-0 mx-8 lg:mx-auto">
          <h1 class="font-bold">jack harrhy</h1>
          <p>
            <a href="/">about</a>{url.pathname === "/" && "←"}
          </p>
          <p>
            <a href="/posts/">posts</a>{
              url.pathname.startsWith("/posts") && "←"
            }
          </p>
          <p>
            <a href="/now/">now</a>{url.pathname.startsWith("/now") && "←"}
          </p>
          <p>
            <a href="/projects/">projects</a>{
              url.pathname.startsWith("/projects") && "←"
            }
          </p>
          <div class="flex flex-col text-sm mt-4">
            <a href="https://github.com/jackharrhy/">
              <i class="fab fa-github w-3.5"></i> github
            </a>
            <a href="https://twitter.com/jackharrhyisme">
              <i class="fab fa-twitter w-3.5"></i> twitter
            </a>
            <a href="https://nfld.social/@jack">
              <i class="fab fa-mastodon w-3.5"></i> mastodon
            </a>
            <a href="https://www.threads.net/@jackarthurharrhy">
              <i class="fas fa-at w-3.5"></i> threads
            </a>
            <a href="https://www.instagram.com/jackarthurharrhy/">
              <i class="fab fa-instagram w-3.5"></i> instagram
            </a>
            <a href="https://steamcommunity.com/id/fudgeisgood/">
              <i class="fab fa-steam w-3.5"></i> steam
            </a>
            <a href="https://www.youtube.com/c/TheEdiblePencil">
              <i class="fab fa-youtube w-3.5"></i> youtube
            </a>
          </div>
        </nav>
      </div>
      <hr class="my-8 border border-slate-400 lg:hidden" />
      <main class="px-8 py-4 lg:pt-8">
        <slot />
      </main>
    </div>
  </body>
</html>
