---
import MainLayout from "./MainLayout.astro";
---

<MainLayout title="now">
	<h1 class="font-semibold mb-4">now</h1>
	<slot />
</MainLayout>

<style is:global>
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}
</style>
